h1 {
  text-align: left;
  color: #191239;
  display: block;
  font-family: 'times new roman', serif;
}
body {
 display: block;
 justify-content: center;
 align-items: center;
 height: 80%;
 margin: 0;
 background-color: #f0f0f0;
}
label {
 display: block;
 margin-bottom: 5px;
 font-weight: bold;
}

form {
  width: 80%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(35, 32, 32, 0.1);
  font-family: Arial, sans-serif;
}
input[type="text"],
input[type="number"],
input[type="date"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}